body {
  background-color: #000;
}
.content {
  position: absolute;
  left: 1%;
  top: 15px;
  list-style: none;
}
#logo {
  float: center;
  width: 100%;
  margin: 5px;
  padding: 15px;
}
#logobar {
  position: absolute;
  bottom: 2px;
  height: 100%;
}
.name {
  text-align: left;
  font-family: 'Quicksand';
  font-size: 22;
  font-weight: 400;
  color: #fff;
}
#topbar {
  z-index: 50;
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(33,33,33,0.75);
  padding: 0px 0px 0px 0px;
  box-shadow: 0 1px 2px 0px #000;
}
a:visited,
a:hover,
a:active,
a {
  text-decoration: none;
  color: #bbdefb;
  opacity: 1;
}
.contact {
  position: absolute;
  right: 5%;
  top: 25px;
  font-family: 'quicksand';
  font-size: 12;
  font-weight: 400;
}
#content,
#dircontent {
  -webkit-padding-start: 0px;
  display: block;
  position: relative;
  top: 50px;
}
.post {
  float: left;
  margin-top: -1px;
  width: 50%;
}
#thumb {
  width: 100%;
  height: auto;
}
