html
	meta(name='viewport', content='width=device-width, initial-scale=1')
	head
		link(href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700', rel='stylesheet', type='text/css')
		link(href='./css/base.css', rel='stylesheet', type='text/css')
		title= 'CaseyJC, Artist Portfolio.'
	body(style='background-color: rgba(33,33,33,.6)')
		#logo
			a(href='./landing.html'): img(src='./assets/CJCLOGOnew.png', alt='CJC')