html
	head
		link(href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700', rel='stylesheet', type='text/css')
		link(href='./css/base.css', rel='stylesheet', type='text/css')
		title= 'CaseyJC, Artist Portfolio.'
	body
		#topbar
			img#logobar(src='./assets/CJCLOGOnew.png', alt='CJC')
			ul.content
				li.name Casey J. Corcoran
				li.WIP This page is undergoing construction.
				li.contact: a(href='./contact.html', target='_blank'): |Contact
		#content
			ul#dircontent
				li.post
					a(href='./assets/raws/midnightthirty.png'): img#thumb(src='./assets/thumbnails/1230thumb.png', alt='Midnight Thirty')
				li.post
					a(href='./assets/raws/feedme.gif' rel='imagebox'): img#thumb(src='./assets/thumbnails/fmtpthumb.png', alt='My Neighbour Feed Me')
				li.post
					a(href='./assets/raws/feedme.gif' rel='imagebox'): img#thumb(src='./assets/thumbnails/fmtpthumb.png', alt='My Neighbour Feed Me')
				li.post
					a(href='./assets/raws/feedme.gif' rel='imagebox'): img#thumb(src='./assets/thumbnails/fmtpthumb.png', alt='My Neighbour Feed Me')
				li.post
					a(href='./assets/raws/feedme.gif' rel='imagebox'): img#thumb(src='./assets/thumbnails/fmtpthumb.png', alt='My Neighbour Feed Me')
				li.post
					a(href='./assets/raws/feedme.gif' rel='imagebox'): img#thumb(src='./assets/thumbnails/fmtpthumb.png', alt='My Neighbour Feed butt')
		



